server:
  port: 8081

spring:
  application:
    name: transaction-service
  r2dbc:
    url: r2dbc:postgresql://localhost:5432/transactions
    username: postgres
    password: postgres
  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql
  kafka:
    bootstrap-servers: localhost:9092
    producer:
      client-id: transaction-service
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring.json.add.type.headers: false
  jackson:
    timezone: UTC

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      probes:
        enabled: true

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    path: /swagger-ui.html

platform:
  topics:
    transactions-topic: transactions.tx.created
    fraud-alerts-topic: fraud.alerts
